{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <div class="block-main">

        <img class="w-25 p-3" src="{{ app.user.getProfilePicture() }}" alt="">

        <p> Mon adresse email : {{ app.user.email }} </p>
        <p>Role :
            {% if is_granted('ROLE_ADMIN') %}
                Administateur
            {% else %}
                Contributeur
            {% endif %}
        </p>
    </div>

{% endblock %}
