{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}


{% block body %}
    <h1>Mon profil</h1>

    <div class="block-main">

        <p> Mon adresse email : {{ app.user.email }} </p>
        <p>Role :
        {% if app.user.roles == ["ROLE_ADMIN"] %}
            Admin
            {% else %}
            Utilisateur

        {% endif %}
        </p>
    </div>


{% endblock %}

