{% extends 'base.html.twig' %}

{% block title %}
    Profil
{% endblock %}


{% block body %}
    <h1>Mon profil</h1>

    <div class="block-main">

        <p> Mon adresse email : </p>
        <p> Mon role : </p>
    </div>


{% endblock %}

