{% extends 'base.html.twig' %}

{% block title %}Ajout d'image ou vidéo{% endblock %}

{% form_theme formMedia 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <h1>Ajout d'image ou vidéo</h1>

    {{ form_start(formMedia) }}
    {{ form_row(formMedia.type, {'attr': {'placeholder': "Format du média (Image ou Vidéo)"}}) }}
    {{ form_row(formMedia.link, {'attr': {'placeholder': "URL du média"}}) }}

    <button type="submit" class="btn btn-success">Enregister </button>

    {{ form_end(formMedia) }}



{% endblock %}
