{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'label': 'Adresse email',
            'attr': {'placeholder': 'Votre adresse email',
                'class': 'form-control col-6'}
        }) }}
        <div>
            <small>
                Entrez votre adresse email et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-lg btn-success">Envoyer l'email</button>
    {{ form_end(requestForm) }}
{% endblock %}
