{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword, {'label': 'ok',
        'attr': {'placeholder': 'Nouveau mot de passe',
            'class': 'form-control'}}) }}
        <button class="btn btn-lg btn-success">Réinitialiser mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
