body {
    background: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: lightblue;
}

.catchphrase {
    font-size: 2rem;
    height: 20rem;
    background-image: url(/img/BWk4bXVB.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.catchphrase p {
    background-image: linear-gradient(to left, black, navy, black);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

.catchphrase a {
    color: black;
    margin: 0 5vw 0 5vw;
    transition: transform .5s;

}

.catchphrase a:hover {
    transform: scale(1.2);
}

.mini-picture {
    min-height: 30vh;
}

.card-trick {
    margin-top: 2rem;
    border-radius: 10px;
    border-color: lightblue;
    transition: transform .5s;
}

.card-trick:hover {
    transform: scale(1.05);
}

.card-trick img {
    margin: 3px;
    border-radius: 5px;
}



.fa-pen:hover {
    color: lightblue;
}

.fa-trash-alt:hover {
    color: lightblue;
}

.trick-content {
    display: flex;
    justify-content: space-around;
    margin: 2px;
}

.trick-name {
    width: 8rem;
    height: 2rem;
    overflow: hidden;
}

/* Form connection */

.form-bottom {
    display: flex;
    justify-content: space-around;
}

#passwordForget {
    margin-top: 1rem;
}

h1.h3 {
    text-align: center;
}

/* Form register */

.register-form {
    width: 50vw;
}

.pagination li {
    margin: 0 2px 0 2px;
    padding: 2rem 0 0 0;
}

/* Admin */

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.admin-table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table-title {
    margin-bottom: 0.5rem;
}

.fa-trash-alt, .fa-pen {
    transition: transform .3s;
    margin: 0 5px 0 0;
}

.fa-trash-alt:hover {
    color: #c0001a;
    transform: scale(1.1);
}

.fa-pen:hover {
    color: #3386d7;
    transform: scale(1.1);
}

.table thead th {
    color: #3386d7;
}

.category-choice {
    width: 100px;
    display: flex;
}


/* Carousel */

#carouselExample {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.bg-black {
    background-color: black;
}



@media screen and (max-width: 560px) {


}