
body .catchphrase {
    width: 200px;
    height: auto;
    background-image: url("public/img/BWk4bXVB.jpg") ;
    font-size: 50px;
    background-color: red;
}

.card {
    background-color: red;

}