{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
<section class="tricks">
    <article>
        <h2>Nom de la figure</h2>
        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
        <div class="content">
            <img src="http://placehold.it/350x200" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, libero non auctor cursus, turpis enim finibus
                arcu, eget ornare est erat a ex. In porttitor tincidunt mi. Praesent nec nulla bibendum massa congue auctor eu nec ligula.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut purus vehicula,
                molestie lacus a, finibus magna. Aliquam sagittis lorem erat, et fermentum quam gravida nec. Donec at feugiat odio,
                sit amet congue dolor.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, libero non auctor cursus, turpis enim finibus
                arcu, eget ornare est erat a ex. In porttitor tincidunt mi. Praesent nec nulla bibendum massa congue auctor eu nec ligula.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut purus vehicula,
                molestie lacus a, finibus magna. Aliquam sagittis lorem erat, et fermentum quam gravida nec. Donec at feugiat odio,
                sit amet congue dolor.</p>
{#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
        </div>
    </article>
    <article>
        <h2>Nom de la figure</h2>
        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
        <div class="content">
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, libero non auctor cursus, turpis enim finibus
                arcu, eget ornare est erat a ex. In porttitor tincidunt mi. Praesent nec nulla bibendum massa congue auctor eu nec ligula.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut purus vehicula,
                molestie lacus a, finibus magna. Aliquam sagittis lorem erat, et fermentum quam gravida nec. Donec at feugiat odio,
                sit amet congue dolor.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, libero non auctor cursus, turpis enim finibus
                arcu, eget ornare est erat a ex. In porttitor tincidunt mi. Praesent nec nulla bibendum massa congue auctor eu nec ligula.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut purus vehicula,
                molestie lacus a, finibus magna. Aliquam sagittis lorem erat, et fermentum quam gravida nec. Donec at feugiat odio,
                sit amet congue dolor.</p>
{#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
        </div>
    </article>
    <article>
        <h2>Nom de la figure</h2>
        <div class="metadata">Écrit le 10/05/2021 à 18h02</div>
        <div class="content">
            <img src="" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, libero non auctor cursus, turpis enim finibus
                arcu, eget ornare est erat a ex. In porttitor tincidunt mi. Praesent nec nulla bibendum massa congue auctor eu nec ligula.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut purus vehicula,
                molestie lacus a, finibus magna. Aliquam sagittis lorem erat, et fermentum quam gravida nec. Donec at feugiat odio,
                sit amet congue dolor.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacinia, libero non auctor cursus, turpis enim finibus
                arcu, eget ornare est erat a ex. In porttitor tincidunt mi. Praesent nec nulla bibendum massa congue auctor eu nec ligula.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ut purus vehicula,
                molestie lacus a, finibus magna. Aliquam sagittis lorem erat, et fermentum quam gravida nec. Donec at feugiat odio,
                sit amet congue dolor.</p>
{#            <a href="{{ path('tricks_show') }}"class="btn btn-primary">Voir en détail</a>#}
        </div>
    </article>

</section>

{% endblock %}
